.add-account-btn {
    width: 80%;
    height: 40px;
    background-color: #4558f1;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}

#account-list {
    list-style: none;
    margin-left: -60px;
}

.card-right-item {
    padding: 0px 20px 0px 20px;
    height: 80px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 5fr;
    align-items: center;
}

.card-right-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width : 768px) {
    #account-list {
        margin-left: -40px;
    }
}

.square {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #4558f1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: -10px;
}

.account-name {
    line-height: 80px;
}

.amount-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 80px;
    text-align: right;
}