.card-item  {
        padding: 20px;
        border-radius: 10px;
        margin-left: -40px;
}
.card-item:hover  {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.square {
    width: 50px;
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4558f1;
    font-size: 24px;
    border-radius: 50%;
} 
.account-name, .type-text, .amount-text {  
    position: absolute;
    width: 84%;
    line-height: 50px;
    margin-left: 60px;
    /* background-color: aqua; */
}
.type-text {
    text-align: center;
}
.amount-text {
    text-align: right;
    font-weight: bold;
}

@media (max-width : 425px)  { 
    .account-name {
        margin-top: -10px;
    }
    .type-text, .amount-text  {
        position: static; 
        text-align: left;
        margin-top: -30px;
    } 
    .type-text {
        display: none;
    }
}